body{
  background-color: black;
  color: white;
}

.nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: blue;
  
}
.right{
  margin-right: 10px;
  margin-top: 2px;
}