.container{
    background-color: rgb(64, 43, 226) !important;
    padding: 10px;
    border-radius: 10px;
}

.container img{
    width: 500px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid blue;
}