.company{
    /* background: rgba(0, 0, 0, 0.1); */
    color: white;
    background-image: url("https://tse3.explicit.bing.net/th?id=OIP.oAT-SAMSyBEI1Quf9YSLrwHaEK&pid=Api&P=0&h=180");
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.3; */
    
}
