body {
    background-color: black;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 20px;
}

.box {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}