body {
  background-color: black;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

.nav {
  position: sticky;
  top: 0px;
}

.nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(13, 14, 16);
  border-bottom: 1px solid rgb(206, 137, 9);

}

input{
  background-color: black !important;
  color: white !important;
}