<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
</head>

<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        name: <input type="text" placeholder="enter your name" name="name">
        <br><br>
        email: <input type="email" placeholder="enter your email" name="email">
        <br><br>
        password: <input type="password" placeholder="enter your password" name="password">
        <br><br>
        <input type="submit" value="register">
        <br><br>
    </form>

</body>

</html>