   @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Madimi+One&display=swap');

   body {
       background-color: black;
       color: white;
   }

   div {
       font-size: 2rem;
       /* font-family: Georgia, 'Times New Roman', Times, serif; */
       font-style: italic;
       font-weight: bolder;
       color: rgb(183, 176, 48);
       font-family: "Dancing Script", cursive;
   }

   h1 {
       text-align: center;
       font-family: "Madimi One", sans-serif;
       font-size: 2rem;
   }

   .material-symbols-outlined {
       font-size: 5rem !important;
   }